<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mybatis.mapper.UsuarioMapper">

	<!--    public int registrar(Usuario u); -->
	<insert id="registrar" parameterType="model.Usuario" statementType="CALLABLE">
		CALL USP_RegistrarUsuario(#{nombre},#{apellido},#{codDistrito},#{usuario},#{clave},#{idTipo},#{estado})
	</insert>	
	
	<!-- 	public Usuario validar(Usuario u); -->
	<select id="validar" resultType="model.Usuario" parameterType="model.Usuario" statementType="CALLABLE">
		CALL sp_validaUsuario(#{usuario},#{clave})
	</select>
	
	<!-- 	public ArrayList<Usuario> listado(Usuario u); -->
	<select id="listado" parameterType="model.Usuario" resultType="model.Usuario">
		select * from tb_usuarios where 1 = 1
		<if test="idTipo != -1">
			and idTipo = #{idTipo}
		</if>
		<if test="codDistrito != -1">
			and codDistrito = #{codDistrito}
		</if>
		<if test="estado != -1">
			and estado = #{estado}
		</if>
	</select>
	
	<!-- 	public Usuario buscar(int cod); -->
	<select id="buscar" parameterType="int" resultType="model.Usuario">
		CALL USP_buscarUsuario(#{codUsuario});
	</select>
	
	<!-- 	public int actualizar(Usuario u); -->
	<update id="actualizar" parameterType="model.Usuario" statementType="CALLABLE">
		CALL USP_ActualizarUsuario(#{nombre},#{apellido},#{codDistrito},#{usuario},#{clave},#{idTipo},#{estado},#{codUsuario})
	</update>
	
	<!-- 	public int cambiarEstado(Usuario u); -->
	<update id="cambiarEstado" parameterType="model.Usuario" statementType="CALLABLE">
		CALL USP_ActualizarEstadoUsuario(#{estado},#{codUsuario})
	</update>
	
	<!-- 	public ArrayList<Distrito> listadoDistrito(); -->
	<select id="listadoDistrito" resultType="model.Distrito">
		CALL sp_listarDistritos()
	</select>
	
	<!-- 	public ArrayList<Tipo> listadoTipo(); -->
	<select id="listadoTipo" resultType="model.Tipo">
		select * from tb_tipos
	</select>	
</mapper>
