<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mybatis.mapper.VentaMapper">

    <!-- public ArrayList<Producto> listado(Producto p); -->
	<select id="listado" parameterType="model.Producto" resultType="model.Producto">
		select * from tb_productos where 1 = 1
		<if test="idCategoria != -1">
			and idCategoria = #{idCategoria}
		</if>
	</select>
</mapper>
